#countLabel{
    display: block;
    text-align: center;
    font-size: 20em;
    font-family:Times New Roman;
}

#btnContainer{
    text-align:center;
}

.Button{
    padding:10px 20px;
    background-color: hsl(125, 59%, 36%);
    color:white;
    border-radius: 10px;
    cursor:pointer;
    border: 1px solid rgb(6, 76, 6);
    transition: background-color 0.25s;
    transition: color 0.25s;
}

.Button:hover{
    background-color: rgb(157, 244, 157);
    color:black;
}